<?xml version="1.0" encoding="utf-8"?>

<configuration name="XPrismModules.Config">
    <modules>

        <module assemblyFile="WPFAdmin.NavigationModules.dll">
            <!-- 导航服务Base 要确保被首先加载 -->
            <moduleName>NavigationModule</moduleName>
        </module>
        
		<module assemblyFile="SystemModules.dll">
            <moduleName>SystemModules</moduleName>
        </module>
        
        <module assemblyFile="CMS.AppRouters.dll">
            <moduleName>CMSAppRoutersModule</moduleName>
        </module>
        
        <module assemblyFile="CMS.AppSettings.dll">
            <moduleName>CMSAppSettingsModule</moduleName>
        </module>

		<module assemblyFile="KeyenceCollectionModule.dll">
			<moduleName>KeyenceCollectionModule</moduleName>
		</module>

        <module assemblyFile="PressMachineCMS.dll">
            <moduleName>PressMachineCMS</moduleName>
        </module>
        
    </modules>
</configuration>